﻿<h2>Contact Us</h2>
<form name="contactForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Your Name" autofocus>
    </div>
    <div class="form-group" >
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" rows="3" id="message" placeholder="Your Message"></textarea>
    </div>
    
    <button type="submit" class="btn btn-default">Send</button>
</form>

<address>
    <strong>QuantumIT.</strong><br>
    Level 1, 100 Drummond Street <br>
    Carlton VIC 3053<br>
    <abbr title="Phone">P:</abbr>+613 8650 9800
</address>