﻿<div class="starter-template">
    <h1>Welcome to this FATS 19 Feb 2016</h1>
    <p class="lead">
        The Content for this came from the Survay sent out. We will cover the following
    </p>
</div>
<div class="row">
    <div class="col-sm-12">
        <blockquote>
            <p>TypeScript</p>
        </blockquote>
        <ul>
            <li>Including d.ts</li>
            <li>Creating Each Angular Type</li>
        </ul>

        <blockquote>
            <p>Directives</p>
        </blockquote>
        <ul>
            <li>Types of Directives</li>
            <li>Scoping Attributes</li>
            <li>Using Link vs Controller</li>
            <li>Comunacation Between Directive and Parent</li>
            <li>How to Write Good Directives?</li>
        </ul>

        <blockquote>
            <p>Enterprise Structure</p>
        </blockquote>
        <ul>
            <li>File Naming? (convenction)</li>
            <li>Folder Structure? (convenction)</li>
            <li>Using Link vs Controller</li>
            <li>Modules</li>
            <li>Routing</li>
        </ul>

        <blockquote>
            <p>Testing</p>
        </blockquote>
        <ul>
            <li>Resharper VS Chutzpah </li>
            <li>Testing Frameworks</li>
        </ul>
    </div>
</div>