﻿<style>
    
    .search .col-two {
        float: left;
        padding-left: 5px;
        width: 50%;
    }

    .action-bar {
        padding-bottom: 10px;
        text-align: right;
    }

</style>
<h2>Students</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default search">
            <div class="panel-heading">
                Search
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group col-two">
                        <label for="studentCode">Student Code</label>
                        <input type="text" class="form-control" placeholder="Student Code" ng-model="vm.studentCode">
                    </div>
                    <div class="form-group col-two">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" ng-model="vm.firstName">
                    </div>
                    <div class="form-group col-two">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" ng-model="vm.lastname">
                    </div>
                    <span class="clearfix"></span>
                    <div class="form-group button-bar">
                        <button class="btn btn-primary" ng-click="vm.search()">Filter</button>
                        <button class="btn btn-default" ng-click="vm.reset()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="row action-bar">
    <div class="col-sm-12">
        <button class="btn btn-default" ng-click="vm.add()">Add</button>
    </div>
</div>

<div kendo-grid="vm.studentGrid" options="vm.gridOptions"></div>
